# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# OS junk
.DS_Store
Thumbs.db

# Datasets (too big for GitHub)
datasets/

# Streamlit cache
.streamlit/
*.log

# Temp files
temp_video.mp4
*.tmp
